{{!< layout}}

<div class="ac-content">
    <input type="hidden" name="repository" id="repository" value='{{config.repository}}' />
    <input type="hidden" name="protocol" id="protocol"  value='{{config.protocol}}' />
    <input type="hidden" name="server" id="server"  value='{{config.server}}'  />
    <input type="hidden" name="port" id="port"  value='{{config.port}}'  />
    <input type="hidden" name="proltoken" id="proltoken"  value='{{config.proltoken}}'  />
</div>
<div class="ac-content">
    {{{htmlCon}}}
</div>
<!--<iframe src="https://rizan.atlassian.net/" noborder="0" width="830" height="800" scrolling="yes" seamless></iframe>-->


<link rel="stylesheet" type="text/css" href="/includes/elementview/font-awesome-4.7.0/css/font-awesome.css" />
<link rel="stylesheet" type="text/css" href="/includes/elementview/PBAwesome/css/PBAwesome.css" />
<link rel="stylesheet" type="text/css" href="/includes/elementview/bootstrap-dropdown/css/bootstrap-dropdown.css" />
<link rel="stylesheet" type="text/css" href="/includes/elementview/bootstrap-dropdown/css/bootstrap-dropdown-theme.min.css" />

<link rel="stylesheet" type="text/css" href="/includes/diagramView/diagramView.css" />

<script src="/includes/elementview/jquery/1.11.3/jquery.min.js"></script>
<script src="/includes/elementview/bootstrap-dropdown/js/bootstrap-dropdown.js"></script>
<script src="/includes/elementview/bootstrap-select/1.10.0/js/bootstrap-select.js"></script>
<script src="/includes/elementview/switchery-master/switchery.min.js"></script>

<script src="/includes/elementview/DataTables-1.10.12/js/jquery.dataTables.js"></script>
<script src="/includes/elementview/DataTables-1.10.12/js/dataTables.bootstrap.min.js"></script>
<script src="/includes/elementview/moment/moment.min.js"></script>

<script src="/js/element_custom.js"></script>
